---
import type { MarkdownHeading } from 'astro';

import type { CategoryWithContent } from '../utils/content';

import ContentSidebar from '../components/content-sidebar.astro';
import TableOfContents from '../components/table-of-contents.astro';
import Layout from './default-layout.astro';

interface Props {
  activeId?: string;
  ariaLabel?: string;
  description?: string;
  headings?: MarkdownHeading[];
  navigation?: CategoryWithContent[];
  showToc?: boolean;
  title: string;
}

const { activeId, ariaLabel, description, headings = [], navigation, showToc = true, title } = Astro.props;
const hasCustomSidebar = Astro.slots.has('sidebar');
---

<Layout description={description} title={title}>
  <div class="container">
    <div class="d-flex">
      <!-- 側邊導覽 -->
      <div class="content-sidebar flex-shrink-0 mt-3">
        {
          hasCustomSidebar ? (
            <slot name="sidebar" />
          ) : navigation ? (
            <ContentSidebar activeId={activeId} ariaLabel={ariaLabel} navigation={navigation} />
          ) : null
        }
      </div>

      <!-- 內文 -->
      <div class="content-main flex-grow-1 mt-4" style={{ minWidth: 0 }}>
        <slot />
      </div>

      <!-- 目錄 -->
      {
        showToc && (
          <aside class="content-toc d-none d-lg-block flex-shrink-0 mt-3" style={{ width: '200px' }}>
            <TableOfContents headings={headings} variant="desktop" />
          </aside>
        )
      }
    </div>
  </div>
</Layout>

<style>
  .content-sidebar {
    @media (width >= 992px) {
      position: sticky;
      top: calc(60px + 1rem);
      height: calc(100dvh - 60px - 56px - 1.5rem);
      overflow: scroll;
    }

    /* 捲軸樣式 */
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(var(--bs-primary-rgb), 0.4);
      border-radius: 0;
    }
  }

  .content-main {
    margin-bottom: 6rem;
  }

  .content-toc {
    @media (width >= 992px) {
      position: sticky;
      top: calc(60px + 1.5rem);
      max-height: calc(100dvh - 60px - 56px - 1.5rem);
      align-self: flex-start;
      overflow-y: auto;
    }

    /* 捲軸樣式 */
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(var(--bs-primary-rgb), 0.4);
      border-radius: 0;
    }
  }
</style>
